
.icon-ps2:before { content: '\e813'; } /* '' */
.icon-vid:before { content: '\e814'; } /* '' */
.icon-4k:before { content: '\e815'; } /* '' */
.icon-question-circle-o:before { content: '\f29c'; } /* '' */
